body {
  background-image: url('/spendah2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App-header {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
  color: red;
}

h1 {
  font-weight: bold;
  color: red;
  background-color: black;
}

.App-form {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}